@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

*{
    font-family: sans-serif;
}

header .images img{
    width: 20px;
    margin-right: 10px;
    cursor: pointer;
}

main{
    max-width: 100%;
    min-height: 100vh;
    margin: 20px;
    padding: 10px;
}